<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Admin - FYoga</title>

    <meta name="description">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">



    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.css">

    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->

</head>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>
<!--                                            Start context page                                                -->

    <!-- Page Container -->
    <div th:replace="~{common/admin/Container :: page-container}" ></div>
    <!-- END Page Container -->

    <!-- Page Content -->
    <div id="page-content">
        <!-- Navigation info -->
        <ul id="nav-info" class="clearfix">
            <li><a href="/FYoGa/Login"><i class="fa fa-home"></i></a></li>
            <li class="active"><a href="">Bảng điều khiển</a></li>
        </ul>
        <!-- END Navigation info -->

        <!-- Nav Dash -->
        <ul class="nav-dash">
            <li>
                <h6>Nhân viên</h6>
                <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=3)}" data-toggle="tooltip" class="animation-fadeIn">
                    <i class="fa fa-clipboard"></i><span class="badge badge-danger">3</span>
                </a>
            </li>
            <li>
                <h6>Huấn luyện viên</h6>
                <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=2)}" data-toggle="tooltip" class="animation-fadeIn">
                    <i class="fa fa-file-o"></i> <span class="badge badge-success">4</span>
                </a>
            </li>
            <li>
                <h6>Khách hàng</h6>
                <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=1)}" data-toggle="tooltip" class="animation-fadeIn">
                    <i class="fa fa-users"></i> <span class="badge badge-success">55</span>
                </a>
            </li>
            <li>
                <h6>Khóa học</h6>
                <a href="/FYoGa/Login/ADMIN/Course" data-toggle="tooltip" class="animation-fadeIn">
                    <i class="fa fa-certificate"></i> <span class="badge badge-inverse">4</span>
                </a>
            </li>
            <li>
                <h6>Lớp học</h6>
                <a th:href="@{/FYoGa/Login/ADMIN/class}" data-toggle="tooltip" class="animation-fadeIn">
                    <i class="fa fa-file"></i><span class="badge badge-inverse">8</span>
                </a>
            </li>
            <li>
                <h6>Lịch học</h6>
                <a th:href="@{/FYoGa/Login/ADMIN/schedule}" data-toggle="tooltip" class="animation-fadeIn">
                    <i class="fa fa-calendar"></i>
                </a>
            </li>
            <li>
                <h6>Blog</h6>
                <a th:href="@{/FYoGa/Login/ADMIN/post}" data-toggle="tooltip" class="animation-fadeIn">
                    <i class="fa fa-pencil"></i>
                </a>
            </li>
        </ul>
        <!-- END Nav Dash -->

        <!-- Tiles -->
        <!-- Row 1 -->
        <div class="dash-tiles row">
            <!-- Column 1 of Row 1 -->
            <div class="col-sm-3">
                <!-- RSS Subscribers Tile -->
                <div class="dash-tile dash-tile-ocean clearfix animation-pullDown">
                    <div class="dash-tile-header">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip"
                               title="Đóng"><i class="fa fa-close"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=2)}" class="btn btn-default" data-toggle="tooltip"
                               title="Huấn luyện viên"><i class="fa fa-file-o"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/class}" class="btn btn-default" data-toggle="tooltip"
                               title="Lớp"><i class="fa fa-file"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=1)}" class="btn btn-default" data-toggle="tooltip"
                               title="Khách hàng"><i class="fa fa-users"></i>
                            </a>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Chỉnh sửa"
                               class="btn btn-default" onclick="showForm2()"><i class="fa fa-cog"></i>
                            </a>
                        </div>
                        <h4> Hatha Yoga</h4>
                    </div>
                    <div class="dash-tile-icon"><i class="fa fa-users"></i></div>
                    <div class="dash-tile-text">30</div>
                </div>
                <!-- END RSS Subscribers Tile -->
            </div>
            <!-- END Column 1 of Row 1 -->

            <!-- Column 2 of Row 1 -->
            <div class="col-sm-3">
                <!-- RSS Subscribers Tile -->
                <div class="dash-tile dash-tile-flower clearfix animation-pullDown">
                    <div class="dash-tile-header">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip"
                               title="Đóng"><i class="fa fa-close"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=2)}" class="btn btn-default" data-toggle="tooltip"
                               title="Huấn luyện viên"><i class="fa fa-file-o"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/class}" class="btn btn-default" data-toggle="tooltip"
                               title="Lớp"><i class="fa fa-file"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=1)}" class="btn btn-default" data-toggle="tooltip"
                               title="Khách hàng"><i class="fa fa-users"></i>
                            </a>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Chỉnh sửa"
                               class="btn btn-default" onclick="showForm2()"><i class="fa fa-cog"></i>
                            </a>
                        </div>
                        <h4> Asanas Yoga</h4>
                    </div>
                    <div class="dash-tile-icon"><i class="fa fa-users"></i></div>
                    <div class="dash-tile-text">30</div>
                </div>
                <!-- END RSS Subscribers Tile -->
            </div>
            <!-- END Column 2 of Row 1 -->

            <!-- Column 3 of Row 1 -->
            <div class="col-sm-3">
                <!-- RSS Subscribers Tile -->
                <div class="dash-tile dash-tile-oil clearfix animation-pullDown">
                    <div class="dash-tile-header">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip"
                               title="Đóng"><i class="fa fa-close"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=2)}" class="btn btn-default" data-toggle="tooltip"
                               title="Huấn luyện viên"><i class="fa fa-file-o"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/class}" class="btn btn-default" data-toggle="tooltip"
                               title="Lớp"><i class="fa fa-file"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=1)}" class="btn btn-default" data-toggle="tooltip"
                               title="Khách hàng"><i class="fa fa-users"></i>
                            </a>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Chỉnh sửa"
                               class="btn btn-default" onclick="showForm2()"><i class="fa fa-cog"></i>
                            </a>
                        </div>
                        <h4> Yoga Trị Liệu</h4>
                    </div>
                    <div class="dash-tile-icon"><i class="fa fa-users"></i></div>
                    <div class="dash-tile-text">30</div>
                </div>
                <!-- END RSS Subscribers Tile -->
            </div>
            <!-- END Column 3 of Row 1 -->

            <!-- Column 4 of Row 1 -->
            <div class="col-sm-3">
                <!-- RSS Subscribers Tile -->
                <div class="dash-tile dash-tile-balloon clearfix animation-pullDown">
                    <div class="dash-tile-header">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip"
                               title="Đóng"><i class="fa fa-close"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=2)}" class="btn btn-default" data-toggle="tooltip"
                               title="Huấn luyện viên"><i class="fa fa-file-o"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/class}" class="btn btn-default" data-toggle="tooltip"
                               title="Lớp"><i class="fa fa-file"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/User(roleID=1)}" class="btn btn-default" data-toggle="tooltip"
                               title="Khách hàng"><i class="fa fa-users"></i>
                            </a>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Chỉnh sửa"
                               class="btn btn-default" onclick="showForm2()"><i class="fa fa-cog"></i>
                            </a>
                        </div>
                        <h4> Yoga Nghệ Thuật</h4>
                    </div>
                    <div class="dash-tile-icon"><i class="fa fa-users"></i></div>
                    <div class="dash-tile-text">30</div>
                </div>
                <!-- END RSS Subscribers Tile -->
            </div>
            <!-- END Column 4 of Row 1 -->
        </div>
        <!-- END Row 1 -->

<!--        &lt;!&ndash; Row 2 &ndash;&gt;-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; Column 1 of Row 2 &ndash;&gt;-->
<!--            <div class="col-sm-12">-->
<!--                &lt;!&ndash; Statistics Tile &ndash;&gt;-->
<!--                <div class="dash-tile dash-tile-2x">-->
<!--                    <div class="dash-tile-header">-->
<!--                        <div class="dash-tile-options">-->
<!--                            <div id="example-advanced-daterangepicker" class="btn btn-default">-->
<!--                                <i class="fa fa-calendar"></i>-->
<!--                                <span></span>-->
<!--                                <b class="caret"></b>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <i class="fa fa-bar-chart-o"></i>-->
<!--                    </div>-->
<!--                    <div class="dash-tile-content">-->
<!--                        <div id="dash-example-stats" class="dash-tile-content-inner"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END Statistics Tile &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; END Column 1 of Row 2 &ndash;&gt;-->
<!--        </div>-->

        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Đăng ký hàng tháng
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
<!--            <div class="col-xl-6">-->
<!--                <div class="card mb-4">-->
<!--                    <div class="card-header">-->
<!--                        <i class="fas fa-chart-bar me-1"></i>-->
<!--                        Bar Chart Example-->
<!--                    </div>-->
<!--                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <!-- END Row 2 -->
        <!-- END Tiles -->
    </div>
    <!-- END Page Content -->

    <!-- Scroll to top link, check main.js - scrollToTop() -->
    <a href="javascript:void(0)" id="to-top"><i class="fa fa-chevron-up"></i></a>


<!--                                            End Context pate                                                    -->
    <!-- Excanvas for canvas support on IE8 -->
    <!--[if lte IE 8]>
    <script src="/admin/js/helpers/excanvas.min.js"></script><![endif]-->

    <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>
    <!-- Bootstrap.js -->
    <script src="/admin/js/vendor/bootstrap.min.js"></script>
    <!-- Jquery plugins and custom javascript code -->
    <script src="/admin/js/plugins.js"></script>
    <script src="/admin/js/main.js"></script>
    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="/admin/js/vendor/modernizr-respond.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <script th:inline="javascript">
        var chart = /*[[${monthlyTotals}]]*/ "";
    </script>
    <script src="/admin/assets/demo/chart-area-demo.js"></script>
    <th:block>
        <script th:inline="javascript">
            var chart = /*[[${monthlyTotalsUser}]]*/ "";
        </script>
        <script src="/admin/assets/demo/chart-bar-demo.js"></script>
    </th:block>
<!--    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>-->

</body>

</html>