<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>uAdmin - Professional, Responsive and Flat Admin Template</title>

    <meta name="description"
          content="uAdmin is a Professional, Responsive and Flat Admin Template created by pixelcave and published on Themeforest">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.css">

    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->

</head>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>

<!-- Page Container -->
<div th:replace="~{common/admin/Container :: page-container}"></div>
<!-- END Page Container -->

<!-- Page Content -->
<div id="page-content">
    <!-- Navigation info -->
    <ul id="nav-info" class="clearfix">
        <li><a href="/FYoGa/Login"><i class="fa fa-home"></i></a></li>
        <li><a href="/FYoGa/Login/ADMIN/Attendance">Điểm danh</a></li>
        <li ><a href="javascript:void(0)" >Điểm danh chi tiết</a></li>
    </ul>
    <!-- END Navigation info -->

    <!-- List  -->
    <h3 class="page-header page-header-top">Danh sách
        <span >học viên</span>

<!--        <a th:href="@{/FYoGa/Login/ADMIN/User/CreateOrUpdate(roleID = ${ROLEID}, isEdit = 0)}" data-toggle="tooltip" title="Thêm mới"-->
<!--           class="btn btn-xs btn-success"><i class="fa fa-plus"></i></a>-->

        <div class="card-header section-bnt">
            <div class="card-tools">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active-bnt" href="#active" id="active-bnt" data-toggle="tab">Chưa điểm danh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link inactive-bnt" href="#inactive" id="inactive-btn"
                           data-toggle="tab">đã điểm danh</a>
                    </li>
                </ul>
            </div>
        </div><!-- /.card-header -->
    </h3>

    <h3 th:if="${MSG}" th:text="${MSG}"></h3>

    <!-- list user active-->
    <table class="table active-list" id="active-list">
        <thead>
            <tr class="list-teacherHeader" style="background-color: #4CAF50;">
                <!-- <th class="cell-small text-center" data-toggle="tooltip" title="Toggle all!"><input
                        type="checkbox" id="check1-all" name="check1-all"></th> -->
                <!-- <th class="text-center">#</th> -->
                <th>#</th>
                <th class="hidden-xs hidden-sm">Tên</th>
                <th class="hidden-xs hidden-sm"></th>
                <!-- <th class="text-center"><i class="fa fa-bolt"></i> </th> -->
            </tr>
        </thead>
        <tbody class="list-teacherBody">
            <tr th:each="ATTEN, iterStat : ${ATTENOFF}" th:object="${ATTEN}">
                <!-- <td class="text-center"><input type="checkbox" id="check1-td1" name="check1-td1"></td> -->
                <td><a href="javascript:void(0)" th:text="${iterStat.count}"></a></td>
                <!-- <td><a href="javascript:void(0)">001</a></td>tên lớp -->
                <td class="hidden-xs hidden-sm" th:text="*{customer.fullName}">Đặn Ngũy Hoài Pon</td><!--tên khóa-->

                <td class="text-center">
                    <div class="btn-group">
                        <!--nút sửa-->
                        <a th:href="@{/FYoGa/Login/ADMIN/Attendance/Check/True(AttendanceID = *{attendanceID})}" data-toggle="tooltip" title="điểm danh"
                           class="btn btn-xs btn-success" onclick="showForm()">
                            <i class="fa fa-pencil"></i></a>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <!-- END List teacher active-->

    <!-- list not active -->
    <table class="table inactive-list" id="inactive-list" style="display: none;">
        <thead style="background-color: aqua">
            <tr class="list-teacherHeader">

                <th>ID Tài khoản</th>
                <th class="hidden-xs hidden-sm"><i class="fa "></i>Họ và tên</th>
                <th class="hidden-xs hidden-sm">Email</th>
                <th class="hidden-xs hidden-sm"></th>

            </tr>
        </thead>

        <tbody class="list-teacherBody">
            <tr th:each="USER, iterStat : ${ATTENON}" th:object="${USER}">

                <td><a href="javascript:void(0)" th:text="${iterStat.count}"></a></td>
                <!-- <td><a href="javascript:void(0)">001</a></td>tên lớp -->
                <td class="hidden-xs hidden-sm" th:text="*{customer.fullName}">Đặn Ngũy Hoài Pon</td><!--tên khóa-->

                <td class="text-center">
                    <div class="btn-group">
                        <!--nút Hoàn tác-->
                        <a href="" data-toggle="tooltip" title="đã điểm danh"
                           class="btn btn-xs btn-success"><i class="fa fa-check"></i></a>
                    </div>
                </td>
            </tr>


        </tbody>
    </table>
    <!-- END List teacher active-->

</div>
<!-- END Page Content -->

<!--END form sửa class -->

<script>

    //xử lý nút bấm active và inactive
    var activeBtn = document.getElementById('active-bnt');
    var inactiveBtn = document.getElementById('inactive-btn');
    var activeList = document.getElementById('active-list');
    var inactiveList = document.getElementById('inactive-list');

    activeBtn.addEventListener('click', function () {
        activeList.style.display = 'inline-table';
        inactiveList.style.display = 'none';
    });
    inactiveBtn.addEventListener('click', function () {
        activeList.style.display = 'none';
        inactiveList.style.display = 'inline-table';
    });

</script>

<!-- Scroll to top link, check main.js - scrollToTop() -->
<a href="javascript:void(0)" id="to-top"><i class="fa fa-chevron-up"></i></a>


<!-- Excanvas for canvas support on IE8 -->
<!--[if lte IE 8]>
<script src="/admin/js/helpers/excanvas.min.js"></script><![endif]-->

<!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

<!-- Bootstrap.js -->
<script src="/admin/js/vendor/bootstrap.min.js"></script>

<!-- Jquery plugins and custom javascript code -->
<script src="/admin/js/plugins.js"></script>
<script src="/admin/js/main.js"></script>

<script src="/admin/js/vendor/modernizr-respond.min.js"></script>
</body>

</html>