<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Admin - FYoga</title>

    <meta name="description">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.css">

    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="/admin/js/vendor/modernizr-respond.min.js"></script>
<!--    <script type="text/javascript" src="web/ckeditor/ckeditor.js"></script>-->
<!--    <script type="text/javascript" src="web/ckfinder/ckfinder.js"></script>-->
</head>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>

    <!-- Page Content -->
    <div id="page-content">
        <!-- Navigation info -->
        <ul id="nav-info" class="clearfix">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="pageCourseAdmin.html">Khoá học đang diễn ra</a></li>
            <li><a href="javascript:void(0)">Thêm mới khoá học</a></li>
        </ul>
        <!-- END Navigation info -->

        <!-- List Staff -->
        <div id="form-validation" action="" method="post" class="form-horizontal form-box remove-margin">
            <!-- Form Header -->
            <h2 class="create-header">Thêm mới khoá học</h2>

            <!-- Form Content -->
            <form th:action="@{/FYoGa/Login/ADMIN/Course/CreateOrEdit}" th:object="${COURSEDTO}" method="post" class="form-box-content" enctype="multipart/form-data">

                <input th:field="*{courseID}" type="hidden">
                <div class="form-group">
                    <label class="control-label col-md-3" >Tên khóa </label>
                    <input th:field="*{name}" type="text" placeholder="Tên khóa" required>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" >Thông tin rút gọn </label>
                    <input th:field="*{summary}" type="text" placeholder="Tên khóa" required>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" >Nội dung </label>
                    <div class="col-md-5">
                        <textarea th:field="*{description}"  class="form-control" name="content" id="content"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div id="preview" class="circle-frame">
                        <img class="input-user-file" th:src="@{/FYoGa/Login/ADMIN/Course/downloads-png(courseID=*{courseID})}" alt="">
                    </div>
                    <input type="file" name="file" id="fileInputAvatar" ><br>

                </div>

                <div class="form-group form-actions">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="reset" class="btn btn-danger"><i class="fa fa-repeat"></i> Xóa</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>
                            save</button>
                    </div>
                </div>
            </form>
            <!-- END Form Content -->
        </div>


    </div>
    <script src="/web/js/tinymce/tinymce.min.js"></script>

        <script type="text/javascript">
            tinymce.init({
                selector: '#content'
            });
        </script>
    <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

    <!-- Bootstrap.js -->
    <script src="/admin/js/vendor/bootstrap.min.js"></script>
    <!-- Jquery plugins and custom javascript code -->
    <script src="/admin/js/plugins.js"></script>
    <script src="/admin/js/main.js"></script>

</body>

</html>