<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Admin - FYoga</title>

    <meta name="description">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.css">

    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->

</head>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>
<!-- Page Container -->
<div th:replace="~{common/admin/Container :: page-container}"></div>
<!-- END Page Container -->

<!-- Page Content -->
<div id="page-content">
    <!-- Navigation info -->
    <ul id="nav-info" class="clearfix">
        <li><a href="/FYoGa/Login"><i class="fa fa-home"></i></a></li>
        <li><a href="/FYoGa/Login/ADMIN/class">Danh sách lớp</a></li>
        <li><a href="javascript:void(0)">Thêm mới lớp học</a></li>
    </ul>
    <!-- END Navigation info -->

    <!-- List Staff -->
    <div class="form-create-class">
        <h2 class="create-header">Thêm mới lớp học</h2>

        <form th:action="@{/FYoGa/Login/ADMIN/class/CreateOrUpdate}" method="post" class="createClass-container" th:object="${CLASSDTO}">
            <input type="hidden" th:field="*{isEdit}">
            <input type="hidden" th:field="*{classID}">
            <label>Khóa học</label>
            <select name="lang" th:field="*{courseID}">
<!--                <option value="">&#45;&#45;Hãy chọn một khóa học&#45;&#45;</option>-->
                <option th:each="course : ${COURSES}" th:value="${course.courseID}"
                        th:text="${course.name}" th:selected="${CLASSDTO.courseID == course.courseID}"></option>
                ></option>
<!--                <option value="asanasyoga">Asanas Yoga</option>-->
<!--                <option value="yogatl">Yoga Trị Liệu</option>-->
<!--                <option value="yogant">Yoga Nghệ Thuật</option>-->
            </select>
            <button type="submit" name="hienthi">Hiển Thị</button>
            <br>
            <label>Huấn luyện viên</label>
            <select name="lang" th:field="*{teacherID}">
                <option th:each="teach : ${ACCOUNTS}" th:value="${teach.accountID}"
                        th:text="${teach.fullName}" th:selected="${teach.accountID == CLASSDTO.teacherID}" ></option>
            </select><br>

            <label>Số lượng</label>
            <input th:field="*{quantityClass}" type="number" placeholder="Thêm số lượng học viên" required> <br>

            <button class="btn-footer" type="reset">Đặt lại</button>
            <button class="btn-footer" type="submit">Lưu</button>
        </form>
    </div>

</div>
<style>

</style>
<!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

<!-- Bootstrap.js -->
<script src="js/vendor/bootstrap.min.js"></script>

<!-- Jquery plugins and custom javascript code -->
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Javascript code only for this page -->
<script>

    $(function () {

        /* For advanced usage and examples please check out
         *  Jquery Validation   -> https://github.com/jzaefferer/jquery-validation
         */

        /* Initialize Form Validation */
        $('#form-validation').validate({
            errorClass: 'help-block',
            errorElement: 'span',
            errorPlacement: function (error, e) {
                e.parents('.form-group > div').append(error);
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                $(e).closest('.help-block').remove();
            },
            success: function (e) {
                // You can use the following if you would like to highlight with green color the input after successful validation!
                e.closest('.form-group').removeClass('has-success has-error'); // e.closest('.form-group').removeClass('has-success has-error').addClass('has-success');
                e.closest('.help-block').remove();
                e.closest('.help-inline').remove();
            },
            rules: {
                val_username: {
                    required: true,
                    minlength: 2
                },
                val_password: {
                    required: true,
                    minlength: 5
                },
                val_confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: '#val_password'
                },
                val_email: {
                    required: true,
                    email: true
                },
                val_website: {
                    required: true,
                    url: true
                },
                val_date: {
                    required: true,
                    date: true
                },
                val_range: {
                    required: true,
                    range: [1, 100]
                },
                val_number: {
                    required: true,
                    number: true
                },
                val_digits: {
                    required: true,
                    digits: true
                },
                val_skill: {
                    required: true
                },
                val_credit_card: {
                    required: true,
                    creditcard: true
                },
                val_terms: {
                    required: true
                }
            },
            messages: {
                val_username: {
                    required: 'Please enter a username',
                    minlength: 'Your username must consist of at least 2 characters'
                },
                val_password: {
                    required: 'Please provide a password',
                    minlength: 'Your password must be at least 5 characters long'
                },
                val_confirm_password: {
                    required: 'Please provide a password',
                    minlength: 'Your password must be at least 5 characters long',
                    equalTo: 'Please enter the same password as above'
                },
                val_email: 'Please enter a valid email address',
                val_website: 'Please enter your website!',
                val_date: 'Please select a date!',
                val_range: 'Please enter a number between 1 and 100!',
                val_number: 'Please enter a number!',
                val_digits: 'Please enter digits!',
                val_credit_card: 'Please enter a valid credit card!',
                val_skill: 'Please select a skill!',
                val_terms: 'You must agree to the terms!'
            }
        });
    });
</script>

<!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
<script src="/admin/js/vendor/modernizr-respond.min.js"></script>
</body>

</html>