<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Admin - FYoga</title>

    <meta name="description">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">


    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.css">

    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="/admin/js/vendor/modernizr-respond.min.js"></script>
</head>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>
    <!-- Page Container -->
    <div th:replace="~{common/admin/Container :: page-container}"></div>
    <!-- END Page Container -->

    <!-- Page Content -->
    <div id="page-content">
        <!-- Navigation info -->
        <ul id="nav-info" class="clearfix">
            <li><a href="/FYoGa/Login"><i class="fa fa-home"></i></a></li>
<!--            /////////-->

            <li th:if="${ROLEID == 1}"><a th:href="@{/FYoGa/Login/ADMIN/User(roleID=1)}" >Danh sách Khách hàng</a></li>
            <li th:if="${ROLEID == 2}"><a th:href="@{/FYoGa/Login/ADMIN/User(roleID=2)}" >Danh sách Huấn luyện viên</a></li>
            <li th:if="${ROLEID == 3}"><a th:href="@{/FYoGa/Login/ADMIN/User(roleID=3)}" >Danh sách Nhân viên</a></li>

<!--            ///////-->
<!--            <li><a href="">Danh sách giáo viên</a></li>-->
            <li><a href="">Thêm mới </a></li>
        </ul>
        <!-- END Navigation info -->

        <!-- List Staff -->
        <div class="form-create-class">
            <h2 class="create-header" th:if="${ROLEID == 1}">Thêm mới Khách hàng</h2>
            <h2 class="create-header" th:if="${ROLEID == 2}">Thêm mới Huấn luyện viên</h2>
            <h2 class="create-header" th:if="${ROLEID == 3}">Thêm mới Nhân viên</h2>


            <form th:action="@{/FYoGa/Login/ADMIN/User/CreateOrUpdate}" method="post" class="createClass-container" th:object="${ACCOUNT}" enctype="multipart/form-data">
                <p style="color: red" th:text="${MSG}"></p>
                <input  th:field="*{accountID}" type="hidden">
                <input  th:field="*{roleID}" type="hidden">
                <input  th:field="*{isEdit}" type="hidden">

                <label >Địa chỉ email</label>
                <input th:field="*{email}" type="email" name="Email" required><br>

                <label >Họ và tên</label>
                <input type="text" th:field="*{fullName}" name="Name" required><br>

                <label >Số điện thoại</label>
                <input th:field="*{phone}"  type="tel" name="Number" required><br>

                <label >Password</label>
                <input th:field="*{password}"  type="password" name="Password" ><br>

                <label ></label>
                <div id="preview" class="circle-frame">
                    <img class="input-user-file" th:src="@{/FYoGa/Login/User/downloads-png(accountID=*{accountID})}" alt="">
                </div>
                <input type="file" name="file" id="fileInputAvatar" ><br>

                <select class="form-control" th:field="*{gender}">
                    <option value="M" th:selected="${gender == 'M'}">Nam</option>
                    <option value="F" th:selected="${gender == 'F'}">Nữ</option>
                </select>
                <br>
                <button class="btn-footer" type="reset"
                        style="transform: translate(315px, 0px) !important; ">Đặt lại</button>
                <button class="btn-footer" type="submit"
                        style="transform: translate(315px, 0px) !important; ">Lưu</button>
            </form>
        </div>

    </div>

    <style>
        input[type="radio"] {
            margin: 0;
            width: 40px;
        }
    </style>
    <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

    <!-- Bootstrap.js -->
    <script src="/admin/js/vendor/bootstrap.min.js"></script>

    <!-- Jquery plugins and custom javascript code -->
    <script src="/admin/js/plugins.js"></script>
    <script src="/admin/js/main.js"></script>

    <!-- Javascript code only for this page -->
</body>

</html>