<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Admin - FYoga</title>

    <meta name="description">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">


    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.css">

    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="/admin/js/vendor/modernizr-respond.min.js"></script>

</head>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>
    <!-- Page Container -->
    <div th:replace="~{common/admin/Container :: page-container}"></div>
    <!-- END Page Container -->

    <!-- Page Content -->
    <div id="page-content">
        <!-- Navigation info -->
        <ul id="nav-info" class="clearfix">
            <li><a href="/FYoGa/Login"><i class="fa fa-home"></i></a></li>
            <li class="active"><a href="">Khóa học</a></li>
        </ul>
        <!-- END Navigation info -->

        <h3>Khóa học đang diễn ra
            <a href="/FYoGa/Login/ADMIN/Course/CreateOrEdit?isEdit=0" data-toggle="tooltip" title="Thêm mới khoá học"
               class="btn btn-xs btn-success"><i class="fa fa-plus"></i></a>
        </h3>
        <!-- Tiles -->
        <!-- Row 1 -->
        <div class="dash-tiles row">
            <!-- Column 1 of Row 1 -->
            <div th:each="COURSE : ${COURSELIST}" th:object="${COURSE}" class="col-sm-3">
                <!-- Total Users Tile -->
                <div  class="dash-tile dash-tile-ocean clearfix animation-pullDown">
                    <div class="dash-tile-header">
                        <div class="dash-tile-options">
                            <div class="btn-group">

                                <a th:href="@{/FYoGa/Login/ADMIN/Course/delete(courseID=${COURSE.courseID})}" class="btn btn-default" data-toggle="tooltip" title="Đóng"><i class="fa fa-close"></i></a>


                                <a th:href="@{/FYoGa/Login/ADMIN/Course/CreateOrEdit(isEdit = 1, CourseID = *{courseID})}" class="btn btn-default" data-toggle="tooltip"
                                   title="Chỉnh sửa"><i class="fa fa-cog"></i></a>

                            </div>
                        </div></br>
                        <h1 th:text="*{name}"></h1>
                    </div>

                    <div class="dash-tile-icon"><i class="fa fa-users"></i></div>
<!--                    <div class="dash-tile-text">30</div>-->
                </div>
                <!-- END Total Users Tile -->
            </div>
            <!-- END Column 1 of Row 1 -->

        </div>

        <div>
<!--        <h3>Khóa học tạm đóng</h3>-->

<!--        <div class="dash-tiles row">-->
<!--            &lt;!&ndash; Column 1 of Row 1 &ndash;&gt;-->
<!--            <div class="col-md-3 ">-->
<!--                &lt;!&ndash; Total Users Tile &ndash;&gt;-->
<!--                <div class="dash-tile dash-tile-ocean clearfix animation-pullDown">-->
<!--                    <div class="dash-tile-header">-->
<!--                        <div class="dash-tile-options">-->
<!--                            <div class="btn-group">-->
<!--                                <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip"-->
<!--                                   title="Mở"><i class="fa fa-check"></i></a>-->

<!--                                <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip"-->
<!--                                   title="Chỉnh sửa"><i class="fa fa-cog"></i></a>-->

<!--                            </div>-->
<!--                        </div></br>-->
<!--                        Hatha Yoga-->

<!--                    </div>-->

<!--                    <div class="dash-tile-icon"><i class="fa fa-users"></i></div>-->
<!--                    <div class="dash-tile-text">30</div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END Total Users Tile &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; END Row 1 &ndash;&gt;-->
<!--            &lt;!&ndash;Form Validation, Validation Initialization happens at the bottom of the page&ndash;&gt;-->
<!--        </div>-->
    </div>
        <!-- END Form Validation -->
        <!-- END Tiles -->
    </div>

    <!-- END Page Content -->

    <!-- Scroll to top link, check main.js - scrollToTop() -->
    <a href="javascript:void(0)" id="to-top"><i class="fa fa-chevron-up"></i></a>


    <!-- Excanvas for canvas support on IE8 -->
    <!--[if lte IE 8]><script src="/admin/js/helpers/excanvas.min.js"></script><![endif]-->

    <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

    <!-- Bootstrap.js -->
    <script src="/admin/js/vendor/bootstrap.min.js"></script>

    <!-- Jquery plugins and custom javascript code -->
    <script src="/admin/js/plugins.js"></script>
    <script src="/admin/js/main.js"></script>

</body>

</html>