<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Admin - FYoga</title>

    <meta name="description">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">


    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.css">

    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->


</head>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>

    <!-- Page Container -->
    <div th:replace="~{common/admin/Container :: page-container}" ></div>
    <!-- END Page Container -->
    <!-- Page Content -->
    <div id="page-content">
        <!-- Navigation info -->
        <ul id="nav-info" class="clearfix">
            <li><a href="/FYoGa/Login"><i class="fa fa-home"></i></a></li>
            <li><a href="">Xác nhận đăng ký</a></li>
        </ul>
        <!-- END Navigation info -->

        <!-- List Staff -->
        <h3 class="page-header page-header-top">Danh sách Xác nhận đăng ký
            <div class="card-header section-bnt">
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active-bnt" href="#active" id="active-bnt" data-toggle="tab">Chờ
                                thanh toán </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link inactive-bnt" href="#inactive" id="inactive-btn"
                               data-toggle="tab">Đã thanh toán </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link inactive-bnt" href="#actived" id="actived-btn"
                                   data-toggle="tab">Đã quá hạn </a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.card-header -->
        </h3>

        <table class="table active-list" id="active-list">
            <thead>
            <tr style="background-color: #4CAF50;" class="list-teacherHeader">
                <th class="hidden-xs hidden-sm"><i class="fa "></i>Tên khoá</th>
                <th class="hidden-xs hidden-sm">Tên học viên</th>
                <th class="hidden-xs hidden-sm">Ngày đăng ký</th>
                <th class="hidden-xs hidden-sm">Giá</th>
                <th class="hidden-xs hidden-sm">Số buổi</th>
                <th class="hidden-xs hidden-sm">hết hạng</th>
                <th class="hidden-xs hidden-sm">xác nhận</th>
            </tr>
            </thead>
            <tbody class="list-teacherBody">
            <!--dòng lớp-->
            <tr th:each="REGISTER: ${LISTPAYING}" th:object="${REGISTER}">
                <td th:text="*{ADiscount.APackage.course.name}">>Hatha Yoga</td><!--tên lớp-->
                <td th:text="*{customer.fullName}">Mã Hành Quân</td><!--tên khóa-->
                <td class="hidden-xs hidden-sm"><input th:value="*{registeredDate}" readonly></td>
                <td class="hidden-xs hidden-sm"><input th:value="''+*{priceDiscount}+' vnd'" readonly></td>
                <td class="hidden-xs hidden-sm"><input th:value="'' + *{slotAvailable} + ' buổi'"  readonly></td>
                <td class="hidden-xs hidden-sm"><input th:value="*{expired}" readonly></td>
                <td class="text-center">
                    <div class="btn-group">
                        <!--nút sửa-->
                        <a href="#createButton" data-toggle="tooltip" title="Xác nhận"
                           class="confirmButton btn btn-xs btn-success" onclick="openFormConfirm()"><i
                                class="gi gi-ok_2"></i></a>
    <!--                        <a href="javascript:void(0)" data-toggle="tooltip" title="Từ chối"-->
    <!--                           class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>-->
                    </div>
                </td>

                <div id="overlay" class="overlay" style="display: none;">
                    <div class="form">
                        <form th:action="@{/FYoGa/Login/ADMIN/User/Confirm}" method="post">
                            <h2 class="txt-notificate">Bạn có chắc xác nhận!</h2>
                            <input type="hidden" name="registerID" th:value="*{registerID}">
                            <button type="submit" class="bnt-accept bnt-confirm" onclick="closeFormConfirm()">Xác Nhận</button>
                        </form>
                        <button href="#" class="bnt-cancel bnt-confirm" onclick="closeFormConfirm()">Hủy</button>

                    </div>
                </div>
            </tr>

            </tbody>


        </table>
        <!-- END List Staff -->

<!--        đã thanh toán-->
        <table class="table inactive-list" id="inactive-list" style="display: none;">
            <thead>
            <tr style="background-color: aqua;" class="list-teacherHeader">
                <th class="hidden-xs hidden-sm"><i class="fa "></i>Tên khoá</th>
                <th class="hidden-xs hidden-sm">Tên học viên</th>
                <th class="hidden-xs hidden-sm">Ngày đăng ký</th>
                <th class="hidden-xs hidden-sm">Giá</th>
                <th class="hidden-xs hidden-sm">Số buổi</th>
                <th class="hidden-xs hidden-sm">hết hạng</th>
                <th class="hidden-xs hidden-sm">Xác nhận</th>
            </tr>
            </thead>


            <tbody class="list-teacherBody">
            <!-- dòng lớp -->
            <tr th:each="REGISTER: ${LISTPAYED}" th:object="${REGISTER}">

                <td th:text="*{ADiscount.APackage.course.name}">>Hatha Yoga</td><!--tên lớp-->
                <td th:text="*{customer.fullName}">Mã Hành Quân</td><!--tên khóa-->
                <td class="hidden-xs hidden-sm"><input th:value="*{registeredDate}" readonly></td>
                <td class="hidden-xs hidden-sm"><input th:value="''+*{priceDiscount}+' vnd'" readonly></td>
                <td class="hidden-xs hidden-sm"><input th:value="'' + *{slotAvailable} + ' buổi'"  readonly></td>
                <td class="hidden-xs hidden-sm"><input th:value="*{expired}" readonly></td>

                <td class="text-center">
                    <div class="btn-group">
                        <!--nút sửa-->
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Đã thanh toán"
                           class="btn btn-xs btn-success"><i class="gi gi-ok"></i></a>
                    </div>
                </td>

            </tr>

            </tbody>
        </table>
        <!-- END List Staff -->


<!--        // đã quá hạn -->
        <table class="table actived-list" id="actived-list" style="display: none;">
            <thead>
            <tr style="background-color: darkgray;" class="list-teacherHeader">
                <th class="hidden-xs hidden-sm"><i class="fa "></i>Tên khoá</th>
                <th class="hidden-xs hidden-sm">Tên học viên</th>
                <th class="hidden-xs hidden-sm">Ngày đăng ký</th>
                <th class="hidden-xs hidden-sm">Giá</th>
                <th class="hidden-xs hidden-sm">Số buổi</th>
                <th class="hidden-xs hidden-sm">hết hạng</th>
                <th class="hidden-xs hidden-sm">Xác nhận</th>
            </tr>
            </thead>


            <tbody class="list-teacherBody">
            <!-- dòng lớp -->
            <tr th:each="REGISTER: ${LISTEXPIRED}" th:object="${REGISTER}">

                <td th:text="*{ADiscount.APackage.course.name}">>Hatha Yoga</td><!--tên lớp-->
                <td th:text="*{customer.fullName}">Mã Hành Quân</td><!--tên khóa-->
                <td class="hidden-xs hidden-sm"><input th:value="*{registeredDate}" readonly></td>
                <td class="hidden-xs hidden-sm"><input th:value="''+*{priceDiscount}+' vnd'" readonly></td>
                <td class="hidden-xs hidden-sm"><input th:value="'' + *{slotAvailable} + ' buổi'"  readonly></td>
                <td class="hidden-xs hidden-sm"><input th:value="*{expired}" readonly></td>

                <td class="text-center">
                    <div class="btn-group">
                        <!--nút sửa-->
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Đã HẾT HẠN"
                           class="btn btn-xs btn-success"><i class="gi gi-ok"></i></a>
                    </div>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
    <!-- END Page Content -->
<!--    <div id="overlay" class="overlay" style="display: none;">-->
<!--        <div class="form">-->
<!--            <h2 class="txt-notificate">Bạn có chắc xác nhận!</h2>-->
<!--            <button class="bnt-accept bnt-confirm" onclick="closeFormConfirm()">Xác Nhận</button>-->
<!--            <button class="bnt-cancel bnt-confirm" onclick="closeFormConfirm()">Hủy</button>-->
<!--        </div>-->
<!--    </div>-->


    <style>
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form {
            background-color: white;
            padding: 20px;
        }

        .txt-notificate {
            transform: translatey(-31px);
        }

        .bnt-confirm {
            text-align: center;
            transform: translateX(45px);
        }

        .bnt-accept {
            padding-left: 0;
            height: 50px;
            width: 100px;
            border-radius: 20px;
        }

        .bnt-cancel {
            height: 50px;
            width: 100px;
            border-radius: 20px;
        }
    </style>

    <script>

        //xử lý nút bấm active và inactive
        var activeBtn = document.getElementById('active-bnt');
        var inactiveBtn = document.getElementById('inactive-btn');
        var activeList = document.getElementById('active-list');
        var inactiveList = document.getElementById('inactive-list');

        var activedBtn = document.getElementById('actived-btn');
        var activedList = document.getElementById('actived-list');


        activeBtn.addEventListener('click', function () {
            activeList.style.display = 'inline-table';
            inactiveList.style.display = 'none';
            activedList.style.display = 'none';

        });
        inactiveBtn.addEventListener('click', function () {
            activeList.style.display = 'none';
            inactiveList.style.display = 'inline-table';
            activedList.style.display = 'none';
        });

        activedBtn.addEventListener('click', function () {
            activeList.style.display = 'none';
            inactiveList.style.display = 'none';
            activedList.style.display = 'inline-table';
        });

        /* xử lý nút confirm*/
        function openFormConfirm() {
            var overlay = document.getElementById("overlay");

            overlay.style.display = "flex";
        }

        function closeFormConfirm() {
            var overlay = document.getElementById("overlay");
            overlay.style.display = "none";
        }

    </script>
    <!--END form chỉnh sửa class -->

    <!-- Scroll to top link, check main.js - scrollToTop() -->
    <a href="javascript:void(0)" id="to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Excanvas for canvas support on IE8 -->
    <!--[if lte IE 8]><script src="/admin/js/helpers/excanvas.min.js"></script><![endif]-->

    <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

    <!-- Bootstrap.js -->
    <script src="/admin/js/vendor/bootstrap.min.js"></script>

    <!-- Jquery plugins and custom javascript code -->
    <script src="/admin/js/plugins.js"></script>
    <script src="/admin/js/main.js"></script>
    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="/admin/js/vendor/modernizr-respond.min.js"></script>
</body>

</html>