<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Admin - FYoga</title>

    <meta name="description">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/admin/img/favicon.ico">
    <link rel="apple-touch-icon" href="/admin/img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/admin/img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/admin/img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/admin/img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/admin/img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/admin/img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/admin/img/icon152.png" sizes="152x152">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.css">

    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="/admin/js/vendor/modernizr-respond.min.js"></script>
</head>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>
    <!-- Page Container -->
    <div th:replace="~{common/admin/Container :: page-container}"></div>
    <!-- END Page Container -->


    <!-- Page Content -->
    <div id="page-content">
        <!-- Navigation info -->
        <ul id="nav-info" class="clearfix">
            <li><a href="/FYoGa/Login"><i class="fa fa-home"></i></a></li>
            <li><a href="javascript:void(0)">Danh sách lớp</a></li>
        </ul>
        <!-- END Navigation info -->

        <!-- List Staff -->
        <h3 class="page-header page-header-top">Danh sách lớp <a href="/FYoGa/Login/ADMIN/class/CreateOrUpdate?isEdit=0"
                                                                 data-toggle="tooltip" title="Thêm mới lớp học" class="btn btn-xs btn-success"><i
                class="fa fa-plus"></i></a>

            <div class="card-header section-bnt">
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active-bnt" href="#active" id="active-bnt" data-toggle="tab">Hoạt
                                động</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link inactive-bnt" href="#inactive" id="inactive-btn"
                               data-toggle="tab">Không hoạt động</a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.card-header -->
        </h3>

        <table class="table active-list" id="active-list">
            <thead>
            <tr style="background-color: #4CAF50;" class="list-teacherHeader">
                <!-- <th class="cell-small text-center" data-toggle="tooltip" title="Toggle all!"><input
                        type="checkbox" id="check1-all" name="check1-all"></th> -->
                <th class="text-center">#</th>
                <th>Tên lớp</th>
                <th class="hidden-xs hidden-sm"><i class="fa "></i>Tên khoá</th>
                <th class="hidden-xs hidden-sm">Tên huấn luyện viên</th>
                <!-- <th class="text-center"><i class="fa fa-bolt"></i>Actions</th> -->
                <th class="hidden-xs hidden-sm"></th>
            </tr>
            </thead>
            <tbody class="list-teacherBody">
            <!--dòng lớp-->
                <tr th:each="CLASS, iterStat : ${CLASS_ON}" th:object="${CLASS}">
                    <!-- <td class="text-center"><input type="checkbox" id="check1-td1" name="check1-td1"></td> -->
                    <td class="text-center" th:text="${iterStat.count}">1</td>
                    <td><a href="page_attendence.html" th:text="*{className}"></a></td><!--tên lớp-->
                    <td class="hidden-xs hidden-sm" th:text="*{course.name}">Hatha Yoga</td><!--tên khóa-->
                    <td class="hidden-xs hidden-sm" th:text="*{teacher.fullName}">Millie Harper</td><!--tên giáo viên-->

                    <td class="text-center">
                        <div class="btn-group">
                            <!--nút sửa-->
                            <a href="checkattendance.html" data-toggle="tooltip" title="Điểm danh"
                               class="btn btn-xs btn-check"><i class="gi gi-check"></i></a>
                            <a th:href="@{/FYoGa/Login/ADMIN/class/CreateOrUpdate(isEdit = 1,ClassID=*{classID})}"
                               data-toggle="tooltip" title="Chỉnh sửa"
                               class="btn btn-xs btn-success"><i class="fa fa-pencil"></i></a>
                             <a th:href="@{/FYoGa/Login/ADMIN/class/remove(classID=*{classID})}" data-toggle="tooltip" title="Xóa"
                               class="btn btn-xs btn-danger" ><i
                                    class="fa fa-times"></i></a>
                        </div>
                    </td>


                </tr>

            </tbody>


        </table>
        <!-- END List Staff -->

        <!--                ////////// not actice-->
        <table class="table inactive-list" id="inactive-list" style="display: none;">
            <thead>
            <tr style="background-color: aqua;" class="list-teacherHeader">
                <!-- <th class="cell-small text-center" data-toggle="tooltip" title="Toggle all!"><input
                        type="checkbox" id="check2-all" name="check1-all"></th> -->
                <th class="text-center">#</th>
                <th>Tên lớp</th>
                <th class="hidden-xs hidden-sm"><i class="fa "></i>Tên khoá</th>
                <th class="hidden-xs hidden-sm">Tên huấn luyện viên</th>
                <th></th>

            </tr>
            </thead>


            <tbody class="list-teacherBody">
            <!-- dòng lớp -->
            <tr th:each="CLASS, iterStat : ${CLASS_OFF}" th:object="${CLASS}">
                <!-- <td class="text-center"><input type="checkbox" id="check2-td4" name="check1-td4"></td> -->
                <td class="text-center" th:text="${iterStat.count}"></td>
                <td><a href="page_attendence.html" th:text="*{className}"></a></td><!--tên lớp-->
                <td class="hidden-xs hidden-sm" th:text="*{course.name}"></td><!--tên khóa-->
                <td class="hidden-xs hidden-sm" th:text="*{teacher.fullName}"></td><!--tên giáo viên-->

                <td class="text-center">
                    <div class="btn-group">
                        <!--nút sửa-->
                        <a th:href="@{/FYoGa/Login/ADMIN/class/reStatus(classID=*{classID})}" data-toggle="tooltip" title="Hoàn tác"
                           class="btn btn-xs btn-success"><i class="fa fa-check"></i></a>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
        <!-- END List Staff -->
    </div>
    <!-- END Page Content -->




    <script>

        //xử lý nút bấm active và inactive
        var activeBtn = document.getElementById('active-bnt');
        var inactiveBtn = document.getElementById('inactive-btn');
        var activeList = document.getElementById('active-list');
        var inactiveList = document.getElementById('inactive-list');

        activeBtn.addEventListener('click', function () {
            activeList.style.display = 'inline-table';
            inactiveList.style.display = 'none';
        });
        inactiveBtn.addEventListener('click', function () {
            activeList.style.display = 'none';
            inactiveList.style.display = 'inline-table';
        });



    </script>
    <!--END form chỉnh sửa class -->

    <!-- Scroll to top link, check main.js - scrollToTop() -->
    <a href="javascript:void(0)" id="to-top"><i class="fa fa-chevron-up"></i></a>



    <!-- Excanvas for canvas support on IE8 -->
    <!--[if lte IE 8]><script src="/admin/js/helpers/excanvas.min.js"></script><![endif]-->

    <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

    <!-- Bootstrap.js -->
    <script src="/admin/js/vendor/bootstrap.min.js"></script>

    <!-- Jquery plugins and custom javascript code -->
    <script src="/admin/js/plugins.js"></script>
    <script src="/admin/js/main.js"></script>
</body>

</html>