<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>Admin - FYoga</title>

    <meta name="description">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/admin/css/bootstrap.css">

    <!-- Related styles of various javascript plugins -->
    <link rel="stylesheet" href="/admin/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/admin/css/main.css">

    <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/admin/css/themes.css">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="/admin/js/vendor/modernizr-respond.min.js"></script>
</head>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>
<div th:replace="~{common/admin/Container :: page-container}"></div>
<!-- Page Content -->
<div id="page-content">

    <h1>Blog List</h1>
        <a href="/FYoGa/Login/ADMIN/post/add" data-toggle="tooltip" title="Thêm mới blog"
           class="btn btn-xs btn-success"><i class="fa fa-plus"></i></a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Hình</th>

            <th>Tiêu đề</th>

            <th>Tùy chọn</th>
        </tr>
        </thead>
        <tbody>
        <!-- Use Thymeleaf iteration to populate the table with data -->
        <tr th:each="post : ${posts}">
            <td th:text="${post.postID}">1</td>
            <!-- Assuming the "img" field is a byte array containing the thumbnail image -->
            <td th:text="${post.getImg()}"></td>

            <td th:text="${post.getTitle()}"></td>
            <td>
                <!-- Add edit and delete buttons with links to corresponding actions -->
                <a th:href="@{/FYoga/Login/ADMIN/post/edit/${post.postID}}">Edit</a> |
                <a th:href="@{/FYoga/Login/ADMIN/post/delete(postID=${post.postID})}">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>


<!-- Scroll to top link, check main.js - scrollToTop() -->
<a href="javascript:void(0)" id="to-top"><i class="fa fa-chevron-up"></i></a>


<!-- Excanvas for canvas support on IE8 -->
<!--[if lte IE 8]>
<script src="/admin/js/helpers/excanvas.min.js"></script><![endif]-->

<!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

<!-- Bootstrap.js -->
<script src="/admin/js/vendor/bootstrap.min.js"></script>

<!-- Jquery plugins and custom javascript code -->
<script src="/admin/js/plugins.js"></script>
<script src="/admin/js/main.js"></script>

<script src="/web/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#content'
    });
</script>
</body>

</html>