<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/web/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/web/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/web/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/web/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/web/css/style.css" rel="stylesheet">
</head>

<body>

    <div th:replace="common/web/header" >

    </div>
    <!-- Modal Login -->
    <div class="modal-login">
        <div class="modal-container">
            <header class="modal-header">
                Quên mật khẩu
            </header>
            <p style="color: red" th:text="${MSG}"></p>

            <div class="modal-body">
                <form th:action="@{/forgotPassword}" method="post" id="myForm">
                    <div class="modal-login-user">
                        <p>Nhập địa chỉ email của bạn để khôi phục mật khẩu</p>
                        <br>
                        <input class="modal-input" name="email4got" type="email" placeholder="Nhập email" required>
                    </div>
                    <button type="submit" id="openModalButtonRegister" class="btn-checkout" >
                        Tiếp Tục
                    </button>
                </form>
                <p id="countdown" style="display: none;">Đang gửi mã xác thực trong: <span id="timer">5</span> giây</p>
            </div>
        </div>
    </div>


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <script src="/web/js/functions.js"></script>
    <Script src="/web/js/main.js"></Script>
</body>

</html>