<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/web/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/web/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/web/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/web/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/web/css/style.css" rel="stylesheet">
</head>

<body>

    <div th:replace="common/web/header" >

    </div>
    <!-- Modal Login -->
    <div class="modal-login">
        <div class="modal-container">
            <header class="modal-header">
                Quên mật khẩu
            </header>

            <div class="modal-body">
                <form id="myForm">
                    <div class="modal-login-user">
                        <p>Nhập địa chỉ email của bạn để khôi phục mật khẩu</p>
                        <br>
                        <input class="modal-input" type="email" placeholder="Nhập email" required>
                    </div>
                    <button id="openModalButtonRegister" class="btn-checkout" type="button">
                        Tiếp Tục
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-schedule" id="registerModal">
        <div class="modal-container-reset">
            <span class="close" id="myButton"><a>&times;</a></span>
            <header class="modal-header-register">
                Đặt lại mật khẩu
            </header>

            <form th:action="@{/FYoGa/registerFYoGa}" method="post">
                <div class="modal-body-forgot">
                    <input class="modal-input" type="password" placeholder="Nhập mật khẩu mới" required>
                    <input class="modal-input" type="password" placeholder="Xác nhận mật khẩu" required>
                </div>
            </form>

            <a href="index.html" class="btn-resetPass" type="submit">
                Đổi mật khẩu
            </a>

            <footer class="modal-footer-schedule">
                <a href="/FYoGa/registerFYoGa">Hủy</a>
            </footer>
        </div>
    </div>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
<!--    &lt;!&ndash; JavaScript Libraries &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>-->
<!--    <script src="lib/easing/easing.min.js"></script>-->
<!--    <script src="lib/wow/wow.min.js"></script>-->
<!--    <script src="lib/owlcarousel/owl.carousel.min.js"></script>-->
<!--    <script src="lib/isotope/isotope.pkgd.min.js"></script>-->
<!--    <script src="lib/lightbox/js/lightbox.min.js"></script>-->

<!--    &lt;!&ndash; Contact Javascript File &ndash;&gt;-->
<!--    <script src="mail/jqBootstrapValidation.min.js"></script>-->
<!--    <script src="mail/contact.js"></script>-->

    <script src="/web/js/functions.js"></script>
    <Script src="/web/js/main.js"></Script>
</body>

</html>