<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">



    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/web/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/web/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/web/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/web/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/web/css/style.css" rel="stylesheet">
</head>

<body>


    <!--    header start-->
    <div th:include="common/web/headerLogin"></div>
    <!--    header start-->

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 th:text="'Lịch học '+${COURSE.name}" ></h2>
                </div>
                <div class="col-12">
                    <a href="/">Trang chủ</a>
                    <a href="/FYoGa/Login">Học viên</a>
                    <a href="">Lịch học</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- schedule Start -->
    <section class="ftco-section">
        <div class="container schedule-detail">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Lịch tập</h2>
                <h3 th:text="'Hết hạn vào '+ ${EXPIRED}">Từ 19/06 - 14/07/2023</h3>
                <p class="idcourse">vui lòng đăng ký thêm để gia hạn</p>

            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">

                    <div class="sched-list-course">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr  class="text-center head-day">
                                    <th>&nbsp;</th>
                                    <th th:each="EVENT : ${EVENTS}" th:object="${EVENT}"  th:text="*{dayOfMonth}"></th>
                                </tr>
                                <tr class="text-center head-thu">
                                    <th>&nbsp;</th>
                                    <th th:each="EVENT : ${EVENTS}" th:object="${EVENT}" th:text="'Thứ ' + *{dayOfWeek}">Thứ</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ACTIVITY : ${ACTIVITYS}" th:object="${ACTIVITY}" class="text-center">
                                <td class="color">
                                    <p class="time" th:text="''+*{slotID.getStartTime()}+' - '+*{slotID.getEndTime()}">7:00 - 8:00</p>
                                </td>
                                <!-- t2 -->
                                <div th:each="DAY : *{dayOfWeeks}">

                                    <div  th:if="${DAY.AClass}">
                                        <!-- Nội dung trong div này sẽ hiển thị nếu t2 không phải là null -->
                                        <td  class="color-1">
                                            <h6 th:text="${DAY.AClass.course.name}"></h6>
                                            <p th:text="''+${''+DAY.getAClass().className+' - '+DAY.getAClass().teacher.fullName}+' ('+${DAY.noBooking}+'/'+${DAY.AClass.quantityClass}+')'" class="idcourse"></p>
<!--                                            <p th:text="'('+${DAY.noBooking}+'/'+${DAY.AClass.quantityClass}+')'" class="idcourse"></p>-->

                                            <p th:text="${DAY.note}" class="idcourse"></p>
                                            <div th:if="${DAY.noBooking} ==  ${DAY.AClass.quantityClass}">
                                                <p class="idcourse"> đã Full</p>
                                            </div>

                                            <form th:action="@{/FYoGa/Login/User/Booking}" method="post" th:object="${BOOKING} " th:if="${DAY.noBooking} <  ${DAY.AClass.quantityClass}">
                                                <input type="hidden" name="classID" th:value="${DAY.AClass.classID}">
                                                <button type="submit" id="modal-login-button-re" th:unless="${DAY.booking}" class="idcourse"> Đăng ký</button>

                                            </form>
                                            <div th:if="${DAY.booking}" >
                                                <p class="idcourse"> đã đăng ký</p>
                                            </div>



                                        </td>
                                    </div>

                                    <div th:unless="${DAY.AClass}">
                                        <!-- Nội dung trong div này sẽ hiển thị nếu t2 là null -->
                                        <td class="color-1">

                                        </td>
                                    </div>
                                </div>


                            </tr><!-- END TR-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

<!--        <button href="" class="a pp" id="openModalButtonRegister">Đăng Ký</button>-->
    </section>
    <!-- schedule End -->

    <!-- Form đề xuất mở lớp  -->
    <form method="post" action="">
        <div class="modal-request" id="requestModal">
            <div class="modal-request-container">
<!--                <span class="close" id="myButton"><a>&times;</a></span>-->
                <header class="modal-header-register">
                    Yêu cầu mở lớp
                </header>
                <div class="modal-body">
                    <form id="myForm">
                        <div class="modal-request-content">
                            <div class="box-request">
                                <label for="">Tên khoá học</label>
                                <input class="modal-input" type="text" placeholder="Hatha Yoga" readonly>
                            </div>
                            <div class="box-request">
                                <label for="">Tên học viên</label>
                                <input type="text" class="modal-input" placeholder="Pon" readonly>
                            </div>
                            <div class="box-day">
                                <label for="">Thời gian</label>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class A">Thứ 2
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class B">Thứ 3
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class C">Thứ 4
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class D">Thứ 5
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class F">Thứ 6
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class G">Thứ 7
                                </div>
                            </div>
                            <div class="box-slot">
                                <label for="">Slot</label>
                                <select name="" id="">
                                    <option value="">7:00 - 8:00</option>
                                    <option value="">8:30 - 9:30</option>
                                    <option value="">10:00 - 11:00</option>
                                    <option value="">18:00 - 19:00</option>
                                    <option value="">19:30 - 20:30</option>
                                </select>
                            </div>
                        </div>
                        <button id="modal-login-button" onclick="showFormSuccess()" type="button">
                            Gửi
                        </button>
                        <br><br>
                        <footer class="modal-footer-schedule">
                            <a href="scheduleDetail.html">Hủy</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </form>

    <!-- Form Đăng ký lớp  -->
<!--    <div class="modal-schedule" id="registerModal">-->
<!--        <form th:action="@{/FYoGa/Login/User/Booking}" method="post" class="modal-container-schedule-end">-->
<!--&lt;!&ndash;            <span class="close" id="myButton"><a>&times;</a></span>&ndash;&gt;-->
<!--            <header class="modal-header-register">-->
<!--                Đăng Ký-->
<!--            </header>-->

<!--            <div  >-->
<!--                <div class="modal-body-schedule">-->
<!--                    <div class="box-request">-->
<!--                        <label for="">Tên khoá học</label>-->
<!--                        <input class="modal-input" type="text" th:value="${COURSE.name}" readonly>-->
<!--                    </div>-->
<!--                    <div class="box-slot" th:object="${BOOKING}">-->
<!--                        <label for="">Tên lớp</label>-->
<!--                        <select th:field="*{classID}">-->
<!--                            <option   th:each="CLASS : ${LISTCLASS}" th:value="${CLASS.classID}" th:text="${CLASS.className}" value="">Hatha-T2-S1</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <button  id="modal-login-button-re" type="submit">-->
<!--                Đăng Ký-->
<!--            </button>-->

<!--            <footer class="modal-footer-schedule">-->
<!--                <a th:href="@{/FYoGa/Login/User/ScheduleClass(courseID = ${COURSE.courseID})}">Hủy</a>-->
<!--            </footer>-->
<!--        </form>-->
<!--    </div>-->

    <!-- form xác nhận  -->
    <div th:if="${MSG}" class="modal-schedule-Checkout" >
        <div class="modal-container-schedule">
<!--            <span class="close" id="myButton"><a>&times;</a></span>-->
            <header class="modal-header-register">
<!--                <img src="/web/img/kisspng-check-mark-tick-clip-art-green-tick-mark-5aa8e457000d23.5682297315210179430002.png">-->
            </header>
            <div style="transform: translateY(145px);">
                <form action="#">
                  <div class="modal-body-schedule">
                    <h3 class="mo" th:text="${MSG}"></h3>
                  </div>
                </form>

                <a class="modal-login-button-re-hatha" th:href="@{/FYoGa/Login/User/ScheduleClass(courseID = ${COURSE.courseID})}" type="submit">
                  Đóng
                </a>
            </div>
        </div>
    </div>

    <!-- Form thông báo đề xuất thành công  -->
    <form method="post" action="">
        <div class="modal-schedule" id="successModal">
            <div class="modal-container-success">
                <span class="close"><a>&times;</a></span>
                <header class="modal-header-register">
                    <img
                        src="img/kisspng-check-mark-tick-clip-art-green-tick-mark-5aa8e457000d23.5682297315210179430002.png">
                </header>
                    <div class="modal-body-schedule">
                        <h3 class="mo">Bạn đã đề xuất lịch học thành công</h3>
                        <!-- <h5 class="mo">Vui lòng xem lịch học để đăng ký lớp</h5> -->
                    </div>
                <a class="modal-login-button-re-hatha" th:href="@{/FYoGa/Login/User/ScheduleClass(courseID = ${COURSE.courseID})}" type="submit">
                    Đóng
                </a>
            </div>
        </div>
    </form>

    <script>
        var openModalRequest = document.getElementById("openModalRequest");
        var requestModal = document.getElementById("requestModal");

        // xử lý đề xuất
        openModalRequest.onclick = function () {
            requestModal.style.display = "flex";
        }
       

        function showFormSuccess() {
            var successModal = document.getElementById("successModal");
            successModal.style.display = "flex";
        }
        function showFormSuccess2() {
            var successModal2 = document.getElementById("successModal2");
            successModal2.style.display = "none";
        }
    </script>

    <!-- Footer Start -->
    <div th:include="common/web/footer"></div>
    <!-- Footer End -->



    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Template Javascript -->
    <script src="/web/js/main.js"></script>
    <script src="/web/js/functions.js"></script>