<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/web/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/web/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/web/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/web/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/web/css/style.css" rel="stylesheet">
</head>

<body>


    <!--    header start-->
    <div th:include="common/web/headerLogin"></div>
    <!--    header start-->


    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Học viên</h2>
                </div>
                <div class="col-12">
                    <a href="/">Trang chủ</a>
                    <a href="/FYoGa/Login">Học viên</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- User-detail  -->
    <div class="user-detail">
        <div class="row user-display">

            <img class="user-img" th:src="@{/FYoGa/Login/User/downloads-png(accountID=${session.USER.getAccountID()})}" alt="">

            <div class="info">
                <h2 th:text="'Học viên: ' + ${session.USER.fullName}"></h2>
                Tên: <input type="text" placeholder="Họ và tên" th:value="${session.USER.fullName}" readonly>
                Số điện thoại: <input type="text" placeholder="Số điện thoại" th:value="${session.USER.phone}" readonly>
            </div>

        </div>
        <div class="user-btn">
            <a type="button" class="history-btn" href="/FYoGa/Login/User/HistoryPay">Lịch sử đăng ký</a>
            <a type="button" class="history-btn" href="/FYoGa/Login/User/EditInfor">Chỉnh sửa thông tin</a>
            <a type="button" class="history-btn" href="/FYoGa/Login/User/ChangePass">Đổi mật khẩu</a>
        </div>

    </div>


    <!-- Class Start -->
    <section class="ftco-section">
        <div id="class" class="class">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <h2>Khóa học đã đăng ký</h2>
                </div>
                <div class="row class-container">
                    <div th:each="COUSE: ${COURSES}" th:object="${COUSE}"class="col-lg-4 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="class-wrap">
                            <div class="class-img class-img-course-user">
                                <img class="input-user-file " th:src="@{/FYoGa/Login/ADMIN/Course/downloads-png(courseID=*{courseID})}" alt="">

                            </div>
                            <div class="class-text class-history">
                                <h2 th:text="*{name}"></h2>
                                <a th:href="@{/FYoGa/Login/User/ScheduleClass(courseID = *{courseID})}">Xem lịch học</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Class End -->


    <!-- Footer Start -->
    <div th:include="common/web/footer"></div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/web/lib/easing/easing.min.js"></script>
    <script src="/web/lib/wow/wow.min.js"></script>
    <script src="/web/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/web/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/web/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <!-- <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script> -->

    <!-- Template Javascript -->
    <script src="/web/js/main.js"></script>
    <script src="/web/js/functions.js"></script>