<!DOCTYPE html>
<!-- Footer Start -->
<form name="sentMessage" id="contactForm" novalidate="novalidate" action="/FYoGa/Login/ADMIN/feedback/submit" method="post">
    <div class="control-group">
        <input type="text" class="form-control" id="name" name="name" placeholder="Tên của bạn" required="required" data-validation-required-message="Vui lòng nhập tên của bạn" />
        <p class="help-block text-danger"></p>
    </div>
    <div class="control-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required" data-validation-required-message="Vui lòng nhập email" />
        <p class="help-block text-danger"></p>
    </div>
    <div class="control-group">
        <textarea class="form-control" id="message" name="comment" placeholder="Nhập tin nhắn" required="required" data-validation-required-message="Vui lòng nhập"></textarea>
        <p class="help-block text-danger"></p>
    </div>

    <div>
        <button class="btn" type="submit" id="sendMessageButton">Gửi</button>
    </div>
</form>


<!-- Footer End -->